<div class="container camp-container">
  <div class="form-container">

    <form>

      <div class="form__input">
        <div class="title header__title">
          Setup a new Camp
        </div>
        <div class="location">
          <div class="input-field">
            <span class="label">Camp Location</span>
            {{input value=address}}
          </div>
        </div>
        <div class="date-range">
          <div class="input-field">
            <span class="label">From</span>
            {{input type="date" value=fromDate min=minDate required=true}}
          </div>
          <div class="input-field">
            <span class="label">To</span>
            {{input
              type="date"
              value=toDate
              min=fromDate
              required=true
            }}
          </div>
        </div>
        <button
          {{action "addCamp"}}
          class="button button--primary"
        >Create</button>
      </div>

    </form>
  </div>

</div>