<div class="profile__container">
  <div class="profile">
    <div class="card">
      <div class="section__header">
        My Profile
        {{material-icon icon="person"}}
      </div>
    </div>
  </div>
  <div class="history">
    <div class="card">
      <div class="section__header">
        Booking History
        {{material-icon icon="history"}}
      </div>
    </div>
  </div>
  <div class="upcoming">
    <div class="card">
      <div class="section__header">
        Upcoming Booking
        {{material-icon icon="event_upcoming"}}
      </div>
    </div>
  </div>
</div>