<div class="registration__container">
  <div class="card">
    <div class="form-container">
      <div class="title header__title">
        Book Your Slot & Get Vaccinated
      </div>
      <form>
        <div class="form__input">

        </div>
      </form>
    </div>
  </div>
</div>