<div class="registration__container">
  <div class="card">
    <div class="form-container">
      <div class="title header__title">
        Book Your Slot & Get Vaccinated
      </div>
      <form>
        <div class="form__input">
          <div class="input-field">
            <select onchange={{action "selectVehicle" value="target.value"}}>

              {{#each names as |vehicleChoice|}}

                <option value={{vehicleChoice}}>{{vehicleChoice}}</option>

              {{/each}}
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>