<div class="form-container">
  <div class="form__header">
        LOGIN
  </div>
  <div class="form__input">
        <div class="input-field">
            <span class="label">User ID</span>
            {{input value=id}}
        </div>
        <div class="input-field">
            <span class="label">Password</span>
            {{input type="password" value=password}}
        </div>
        <button class="button--primary">Log in</button>
  </div>
  <div class="form__footer">
    <p>Don't have an account? Click Here !</p>
  </div>

</div>
    



