<div class="flex-container">
    <div class="card">
        <div class="card__content">
            <div class="card__header title">
                MANDRINE
            </div>
            <div class="card__content__image">

            </div>
            <div class="card__content__footer">
                Vaccinating Millions Around the Globe
            </div>

        </div>
        <div class="card__form">
            {{outlet}}
            <div class="card__form__image">
                
            </div>
        </div>
        
    </div>
</div>

